# RSS_FEED_<FeedName>='<FeedURL>[;<FeedLogoURL>][;<ShowName>][;<ShowTitle>][;<ShowDescription>][;<ShowURL>]'
# You can skip any parameter by directly putting a ;
RSS_FEED_CommitStrip='https://www.commitstrip.com/en/feed/;https://www.commitstrip.com/wp-content/themes/krds_blog/images/logo_small.png'
